modules = ["python-3.11"]
run = "uvicorn app.main:app --host 0.0.0.0 --port 5000"

[nix]
channel = "stable-23_11"
packages = ["libsndfile", "libxcrypt", "pkg-config"]

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"

[agent]
expertMode = true
